@font-face {
  font-family: "SUIT";
  font-weight: 100;
  src: url("/assets/css/common/fonts/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("/assets/css/common/fonts/SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("/assets/css/common/fonts/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("/assets/css/common/fonts/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("/assets/css/common/fonts/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("/assets/css/common/fonts/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("/assets/css/common/fonts/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("/assets/css/common/fonts/SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("/assets/css/common/fonts/SUIT-Heavy.woff2") format("woff2");
}
@keyframes Scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes FadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes FadeInUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.desktop .mobile-type {
  display: none !important;
}
body.mobile .desktop-type {
  display: none !important;
}

p {
  line-height: 1.2;
}

a {
  color: #2f80ed;
}

b {
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
button.btn-lg {
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
}
button.btn-sm {
  min-width: 10rem;
  padding: 0.75rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 600;
}
button.btn-icon {
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #dedede;
}
button.btn-icon:hover {
  background: #f5f5f7;
}
button.btn-primary {
  background: #ff8400;
  color: #ffffff;
}
button.btn-secondary {
  background: #434b51;
  color: #ffffff;
}
button.btn-return {
  background: transparent;
  color: #333333;
}
button.arrow {
  background: unset;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
button.arrow:hover {
  background: rgba(245, 245, 247, 0.4);
}
button.arrow.size-24 {
  width: 1.5rem;
  height: 1.5rem;
}
button.arrow.size-16 {
  width: 1rem;
  height: 1rem;
}
button.gnb {
  background: unset;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
button.gnb:hover {
  background: rgba(245, 245, 247, 0.4);
}
button:disabled, button[disabled] {
  button: disabled;
  cursor: auto;
  background: #bfbfbf;
}
button:hover {
  transition: all 0.3s;
}
button > img {
  width: 1.25rem;
  height: 1.25rem;
  padding-bottom: 2px;
}

input {
  height: 3rem;
}

input,
textarea,
select {
  width: 100%;
  font-size: 0.875rem;
  font-family: "SUIT";
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #dedede;
  color: #333333;
}
input:focus,
textarea:focus,
select:focus {
  color: #333333;
  outline: 1px solid #000000;
  transition: all 1s;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #909090;
}
input:disabled, input[disabled],
textarea:disabled,
textarea[disabled],
select:disabled,
select[disabled] {
  button: disabled;
  cursor: auto;
  background: #f5f5f7;
}

label {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 0.5rem;
  font-size: 1rem;
}
label.view-title {
  font-size: 1rem;
  font-weight: bold;
}
label.bold {
  font-size: 1.5rem;
}

section {
  display: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.125rem;
  box-shadow: inset 0 -1px 0 #dedede;
}
header h5 {
  font-size: 1.25rem;
  font-weight: bold;
}
header button {
  position: absolute;
  top: 50%;
  left: 1.125rem;
  transform: translateY(-50%);
}

footer {
  display: flex;
  align-items: center;
  column-count: auto;
  justify-content: space-between;
  background: #434b51;
  padding: 1rem 1.125rem;
}
footer .raon-logo {
  height: 22px;
}
footer p {
  cursor: pointer;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}
footer p:nth-of-type(1) {
  text-decoration: underline;
}

.spacer {
  flex: 1;
}

.flex {
  display: flex;
  column-count: auto;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-8 {
  gap: 0.5rem !important;
}

.w-10rem {
  width: 10rem;
}

.w-21rem {
  width: 21.25rem;
}

.bold {
  font-weight: 700;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.color-primary {
  color: #ff8400;
}

.color-error {
  color: #FF1A1A;
}

.text-unerline {
  text-decoration: underline;
}

.components {
  display: flex;
  flex-direction: row;
  column-count: auto;
  gap: 2rem;
  max-width: 1280px;
  height: calc(100vh - 2rem);
  margin: 0 auto;
  padding: 1rem;
}
.components .contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 1rem;
}

#Checkbox {
  position: relative;
  display: flex;
  column-count: auto;
}
#Checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#Checkbox label {
  cursor: pointer;
  flex: 1;
}
#Checkbox .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: inset 0px 0px 0px 1px #000000;
}
#Checkbox .checkbox i.icon {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 0;
}
#Checkbox .checkbox.all-check {
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ff8400;
}
#Checkbox p {
  width: 100%;
  font-size: 1rem;
}
#Checkbox p b {
  font-size: 1.125rem;
}
#Checkbox button {
  box-shadow: unset;
}
#Checkbox input:checked + label .checkbox {
  background: #000000;
  box-shadow: unset;
  animation: Scale 0.3s ease;
}
#Checkbox input:checked + label .checkbox i.icon {
  opacity: 1;
}
#Checkbox input:checked + label .all-check {
  background: #ff8400 !important;
}
#Checkbox input:disabled + label .checkbox,
#Checkbox input[disabled] + label .checkbox {
  button: disabled;
  cursor: auto;
  background: #efefef;
  box-shadow: inset 0px 0px 0px 1px #dedede;
}

#Select {
  position: relative;
  display: flex;
}
#Select select::-ms-expand {
  display: none;
}
#Select select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#Select i.icon {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

#Dropdown {
  position: relative;
  display: flex;
}
#Dropdown label {
  display: unset;
  flex: 1;
}
#Dropdown .dropdown {
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #dedede;
  border-radius: 0.75rem;
}
#Dropdown .dropdown .dropdown-select {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 0.625rem;
  padding: 0.75rem;
}
#Dropdown .dropdown .dropdown-select p {
  flex: 1;
  font-size: 1rem;
  color: #333333;
}
#Dropdown .dropdown ul.dropdown-option {
  display: none;
  opacity: 0;
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  box-shadow: inset 0 0 0 1px #dedede;
  border-radius: 0.75rem;
  background: #ffffff;
}
#Dropdown .dropdown ul.dropdown-option li {
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333333;
}
#Dropdown .dropdown ul.dropdown-option li:hover {
  background: rgba(245, 245, 247, 0.4);
}
#Dropdown .dropdown ul.dropdown-option li.active {
  color: #ff8400;
  font-weight: bold;
}
#Dropdown .dropdown.active {
  outline: 1px solid #000000;
}
#Dropdown .dropdown.active .dropdown-select {
  box-shadow: inset 0 -1px 0 #dedede;
}
#Dropdown .dropdown.active ul.dropdown-option {
  display: block;
  opacity: 1;
}
#Dropdown select {
  position: absolute;
  visibility: hidden;
  display: none;
}

#Accordion {
  cursor: pointer;
  padding: 0 0.875rem;
  box-shadow: inset 0 0 0 1px #dedede;
  border-radius: 0.75rem;
}
#Accordion .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 0;
  box-shadow: inset 0 -1px 0 #dedede;
}
#Accordion ul {
  display: none;
  opacity: 0;
}
#Accordion ul li {
  padding: 0.875rem 0;
}
#Accordion ul li p {
  font-size: 1rem;
}
#Accordion ul li p i.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.125rem;
  height: 1.125rem;
}
#Accordion ul.list-style {
  gap: 0.25rem;
  padding-left: 1rem;
}
#Accordion ul.list-style li {
  list-style: disc;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  text-indent: -0.325rem;
  color: #666666;
  padding: 0;
}
#Accordion.active .accordion-header button img {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
#Accordion.active ul {
  display: block;
  opacity: 1;
  animation: FadeInDown 0.3s ease;
}
#Accordion.active ul.list-style {
  display: flex;
  flex-direction: column;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

#Finance {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-count: auto;
  gap: 0.5rem;
}
#Finance .finance-icon {
  flex: 1;
  max-width: 4rem;
  width: 100%;
  height: 100%;
}
#Finance .finance-icon:hover {
  background: rgba(239, 239, 239, 0.4);
  transition: all 0.3s ease;
}
#Finance p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #444444;
}

#Radio {
  position: relative;
  display: flex;
  column-count: auto;
  background: #f5f5f7;
  padding: 0.375rem;
  border-radius: 0.75rem;
}
#Radio input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#Radio label {
  cursor: pointer;
  flex: 1;
}
#Radio .radio label {
  padding-bottom: unset !important;
}
#Radio .radio label .radio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #333333;
  padding: 0.75rem 1.5rem;
  background: transparent;
  border-radius: 0.5rem;
}
#Radio .radio input[type=radio]:checked + label .radio-btn {
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

#CardRadio .radio {
  position: relative;
  width: 100%;
}
#CardRadio .radio input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#CardRadio .radio label {
  cursor: pointer;
}
#CardRadio .radio .radio-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #333333;
  padding: 0.75rem;
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #dedede;
  border-radius: 0.75rem;
  border: 1px solid #dedede;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}
#CardRadio .radio input[type=radio]:checked + label .radio-btn {
  font-weight: 500;
  color: #ffffff;
  background: #333333;
  transition: all 0.3s;
}

#Tabs ul.tab {
  display: flex;
  flex-direction: row;
  column-count: auto;
  background: #f2f4f7;
  padding: 0.375rem;
  border-radius: 0.75rem;
}
#Tabs ul.tab li {
  cursor: pointer;
  flex: 1;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  color: #333333;
  background: transparent;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}
#Tabs ul.tab li.active {
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(12, 85, 135, 0.08), 0px 0px 6px 0px rgba(12, 85, 135, 0.02), 0px 2px 4px 0px rgba(12, 85, 135, 0.08);
}
#Tabs ul.subtab {
  display: flex;
  flex-direction: row;
  column-count: auto;
  gap: 0.5rem;
}
#Tabs ul.subtab li {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 0.875rem;
  text-align: center;
  line-height: 1.5;
  color: #909090;
  background: transparent;
  box-shadow: inset 0 0 0 1px #dedede;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}
#Tabs ul.subtab li.active {
  color: #000000;
  box-shadow: inset 0 0 0 1px #000000;
}

#Filter ul {
  display: flex;
  column-count: auto;
  justify-content: space-between;
}
#Filter ul li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: #333333;
  background: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(12, 85, 135, 0.08), 0px 0px 6px 0px rgba(12, 85, 135, 0.02), 0px 2px 4px 0px rgba(12, 85, 135, 0.08);
}
#Filter ul li.active {
  color: #ffffff;
  background: #333333;
  transition: all 0.3s;
}

#Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: auto;
  gap: 0.5rem;
  font-size: 0.875rem;
}
#Counter .title {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 0.25rem;
  color: #666666;
}
#Counter .title img {
  width: 0.875rem;
  height: 0.875rem;
}
#Counter .color-error {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-items: center;
}
.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.button-group {
  display: flex;
  column-count: auto;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}

.input-item {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.5rem;
}
.input-item > div {
  gap: 0.75rem;
}
.input-item label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000000;
  padding-bottom: 0.25rem;
}

.security-item .button-group {
  gap: 0.25rem;
}
.security-item button.btn-icon {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0.25rem;
}
.security-item .security-number {
  width: 100%;
  height: 3rem;
  border-radius: 0.75rem;
  box-shadow: inset 0 0 0 1px #dedede;
}

span.color-error {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-count: auto;
  gap: 0.25rem;
  text-align: right;
  font-size: 0.75rem;
}
span.color-error i.icon {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10rem;
  padding: 1rem;
  background: #f5f5f7;
  border-radius: 0.5rem;
}
.sidebar ul {
  flex: 1;
}
.sidebar ul li.menu {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0.5rem;
}
.sidebar ul li.menu:hover {
  background: #efefef;
}
.sidebar ul li.menu.active {
  color: #ff8400;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 23.4375rem;
  min-height: 50rem;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.modal .modal-dialog .modal-container {
  display: flex;
  flex-direction: column;
  column-count: auto;
  flex: 1;
  min-height: inherit;
}
.modal .modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.25rem;
  padding: 1.5rem 1.125rem;
  flex: 1;
}
.modal .modal-dialog .modal-footer {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  padding: 1.5rem 1.125rem;
  padding-top: 0;
}
.modal .modal-dialog .modal-footer a {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  color: #666666;
  text-decoration: underline;
}

.main {
  width: 100%;
  height: 100%;
}

.container-wrapper {
  position: relative;
  max-width: 23.4375rem;
  min-height: 50rem;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #dedede;
  overflow: hidden;
}
.container-wrapper .container {
  display: flex;
  flex-direction: column;
  column-count: auto;
  flex: 1;
  min-height: inherit;
}
.container-wrapper .container .body {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  padding: 1.5rem 1.125rem;
  flex: 1;
}
.container-wrapper .container .footer {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  padding: 1.5rem 1.125rem;
  padding-top: 0;
}
.container-wrapper .container .footer a {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  color: #666666;
  text-decoration: underline;
}

.cookie-information {
  padding-top: 1.125rem;
  border-top: 1px solid #dedede;
}
.cookie-information #Accordion ul li {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.5rem;
}
.cookie-information #Accordion ul li p {
  font-size: 0.875rem;
}
.cookie-information #Accordion ul li:last-child {
  padding-top: 0;
}

.card-info {
  display: flex;
  column-count: auto;
  align-items: center;
  gap: 1rem;
}
.card-info .text-item {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.25rem;
}
.card-info .text-item p:first-child {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000000;
}
.card-info .text-item p:last-child {
  font-size: 1.125rem;
  color: #333333;
}

.input-item {
  padding-bottom: 1.25rem;
  box-shadow: inset 0 -1px 0 #dedede;
}
.input-item:last-child {
  box-shadow: unset;
}

.step {
  position: relative;
  display: flex;
  column-count: auto;
  justify-content: space-between;
  align-content: center;
  gap: 0.5rem;
}
.step .step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-count: auto;
  min-width: 5.5rem;
  gap: 0.75rem;
  text-align: center;
}
.step .step-item p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000000;
}
.step .step-item span {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.step .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  box-shadow: inset 0 0 0 1px #dedede;
  border-radius: 0.75rem;
}
.step i {
  position: absolute;
  top: 50%;
  transform: translateY(-95%);
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.step i:nth-of-type(1) {
  left: 27%;
}
.step i:nth-of-type(2) {
  right: 29%;
}

.bread-crumb {
  display: flex;
  justify-content: center;
}
.bread-crumb .text-item {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 0.25rem;
  color: #666666;
}
.bread-crumb .text-item img {
  width: 1rem;
  height: 1rem;
}
.bread-crumb .text-item p {
  font-size: 0.875rem;
}

.info-box {
  background: #f5f5f7;
  padding: 0.75rem;
  border-radius: 0.75rem;
  min-height: 3rem;
}
.info-box.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-box.center p {
  padding-bottom: 0;
}
.info-box p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333333;
  padding-bottom: 0.5rem;
}
.info-box ul {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.25rem;
  padding-left: 1rem;
}
.info-box ul li {
  list-style: disc;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #666666;
}
.info-box p {
  font-size: 0.875rem;
}

.link-group {
  display: flex;
  justify-content: space-between;
}
.link-group a {
  cursor: pointer;
}
.link-group a:last-child {
  text-decoration: none !important;
}

#Main h5.title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  border-bottom: 1px solid #dedede;
  padding-bottom: 1.25rem;
}
#Main .auth-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
#Main .auth-group label {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  line-height: 1.5;
}

#InputInformation .how-to-number-information {
  display: flex;
  flex-direction: column;
  column-count: auto;
  align-items: center;
  gap: 0.25rem;
}
#InputInformation .how-to-number-information p {
  font-size: 0.875rem;
}
#InputInformation .how-to-number-information p:last-child {
  text-decoration: underline;
  color: #2f80ed;
}
#InputInformation .tab-content {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  display: none;
}
#InputInformation .tab-content.active {
  display: flex;
}
#InputInformation .subtab-content {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
  display: none;
}
#InputInformation .subtab-content.active {
  display: flex;
}
#InputInformation p.text-center {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #1a1a1a;
  text-align: center;
}
#InputInformation .item-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
}
#InputInformation .text-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
#InputInformation #Select,
#InputInformation select {
  min-width: 5.375rem;
}
#InputInformation .simple-auth {
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#InputInformation .simple-auth img {
  width: 5.3125rem;
}
#InputInformation .simple-auth p {
  font-size: 1.125rem;
  color: #333333;
}
#InputInformation .simple-auth p b {
  color: #000000;
}
#InputInformation .homepage-auth img.homepage-auth-img {
  width: 4.6875rem;
}
#InputInformation .homepage-auth .text-item {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.5rem;
}
#InputInformation .homepage-auth .text-item p {
  font-size: 1rem;
}
#InputInformation .homepage-auth .text-item button {
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background: transparent;
  box-shadow: inset 0 0 0 1px #000000;
}
#InputInformation .homepage-auth .find-id a {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #666666;
}
#InputInformation .homepage-auth .find-id a i.icon {
  width: 1rem;
}
#InputInformation .footer {
  display: none;
}
#InputInformation .footer.show {
  display: flex !important;
}

#AddInformation .content {
  min-height: 21.875rem;
}

#AppAuthentication #Accordion ul li {
  font-size: 0.875rem;
  line-height: 1.4;
  word-break: keep-all;
  color: #333333;
}
#AppAuthentication #Accordion ul li a {
  display: block;
  padding-top: 0.5rem;
}

#PushAlarm .modal-body {
  gap: 1.875rem;
}
#PushAlarm p.text-center {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #333333;
  text-align: center;
}

#BottomSheet {
  position: absolute;
  display: none;
  opacity: 0;
}
#BottomSheet.open {
  display: block;
  opacity: 1;
}
#BottomSheet .modal-dialog {
  top: unset;
  left: 0;
  bottom: 0;
  min-height: unset;
  transform: unset;
  padding: 2rem 1.125rem;
  border-radius: 1.25rem 1.25rem 0px 0px;
  animation: FadeInUp 0.3s;
}
#BottomSheet .modal-dialog .modal-container {
  gap: 1rem;
}
#BottomSheet .modal-dialog .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#BottomSheet .modal-dialog .modal-header h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
}
#BottomSheet .modal-dialog .modal-body {
  flex: unset;
  padding: 1.125rem 0;
  border-top: 1px solid #dedede;
}
#BottomSheet .modal-dialog .modal-body .checkbox-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
#BottomSheet .modal-dialog .modal-footer {
  padding: unset;
}
#BottomSheet .modal-dialog .modal-footer button {
  width: 100%;
}

#QR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-count: auto;
  gap: 1rem;
}
#QR .qr-item {
  width: 7.5rem;
  height: 7.5rem;
}
#QR p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000000;
}
#QR h5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}

#Dialog-AppDownload {
  position: absolute;
  display: none;
  opacity: 0;
}
#Dialog-AppDownload .modal-dialog {
  width: 90%;
  min-height: unset;
  padding: 1.5rem;
  border-radius: 12px;
}
#Dialog-AppDownload .modal-dialog .modal-container {
  gap: 0.75rem;
}
#Dialog-AppDownload .modal-dialog .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#Dialog-AppDownload .modal-dialog .modal-header h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
}
#Dialog-AppDownload .modal-dialog .modal-body {
  padding: 0.75rem 0;
  border-top: 1px solid #dedede;
}
#Dialog-AppDownload .modal-dialog .modal-body .input-item {
  padding-bottom: 0;
}
#Dialog-AppDownload .modal-dialog .modal-footer {
  padding: 0;
}

#Error .modal-body {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
#Error .item-group {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 1.25rem;
}
#Error .item-group img {
  width: 6.125rem;
  height: 5rem;
}
#Error .item-group h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}
#Error p.text-center {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #333333;
  text-align: center;
}
#Error .result {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.5rem;
}
#Error .result .text {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 0.625rem;
}
#Error .result .text p {
  font-size: 0.875rem;
  color: #333333;
}
#Error .result .text p:last-child {
  font-weight: 500;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
