$primary: #ff8400;
$O10:#FFF4E4;
$secondary: #434b51;

$G90: #1a1a1a;
$G80: #333333;
$G70: #444444;
$G60: #666666;
$G50: #909090;
$G40: #bfbfbf;
$G30: #dedede;
$G20: #efefef;
$G10: #f5f5f7;

$white: #ffffff;
$black: #000000;

$info: #2f80ed;
$success: #27ae60;
$warning: #eec035;
$error: #FF1A1A;
